{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "no-console": 1,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 88,
        "tabWidth": 2
      }
    ]
  }
}
