{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "rules": {
    "no-console": 2,
    "no-underscore-dangle": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 88,
        "tabWidth": 2
      }
    ]
  }
}
